/*
*       THE HEADER
*/
html, body{
    background-color: var(--col4);
}

:root{
    --col1: rgb(39, 55, 77);
    --col2: rgb(82, 109, 130);
    --col3: rgb(157, 178, 191);
    --col4: rgb(221, 230, 237);
    --col5: rgb(84, 16, 21);
} 

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: var(--col3);
    padding: 20px 10px;
  }
  
/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
/* Change the background color on mouse-over */
.header a:hover {
    background-color: var(--col2);
    color: black;
}
  
/* Style the active/current link*/
.header a.active {
    background-color: var(--col1);
    color: white;
}
  
/* Float the link section to the right */
.header-right {
    float: right;
}

/*
*       THE USERNAME - PASSWORD FIELDS
*/
.credentials{
    padding: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

/*
*       THE VOLUME-CONTROL BUTTONS
*/

.volButton {
    width:20%;
    height:20%;
    background-color: var(--col2);
}

.volButtonBox {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 10px 0;
}

.volButton:hover {
    background-color: var(--col3);
} 

.volButton:active {
    background-color: var(--col1);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*
*       CUSOM ALERT used to display error messages
*/

#customAlert {
    visibility: hidden;
    min-width: 250px;
    margin-left: -200px; 
    background-color: var(--col5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--col4);
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
}
  
#customAlert.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.checkicon i{
    font-size: 40px;
    color: #47d764;
}